h2  - クエスト実績 -
.row.mb-2
  .col-sm
    .box
      h4.title
        | - No.1 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#rails_tutorial' }
      p.lead  RailsTutorial
  .col-sm
    .box
      h4.title
        | - No.2 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#potepan_camp' }
      p.lead  擬似ECサイト
.row.mb-2
  .col-sm
    .box
      h4.title
        | - No.3 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#noutore_site' }
      p.lead  脳トレアプリ
  .col-sm
    .box
      h4.title
        | - No.4 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#search_form' }
      p.lead  APIを活用した検索フォーム
.row.mb-2
  .col-sm
    .box
      h4.title
        | - No.5 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#truth_or_challenge'} 
      p.lead  真実か挑戦かゲーム
  .col-sm
    .box
      h4.title
        | - No.6 -
        = button_tag '詳細を見る', type: "button", class: "btn btn-lights", data: { toggle: "modal", target: '#portfolio' }
      p.lead  ポートフォリオ
