<h2>- クエスト実績 -</h2>
<div class='row mb-2'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.1 -
        <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#rails_tutorial">
          詳細を見る
        </button>
      </h4>
      <p class='lead'>RailsTutorialで作成したアプリ</p>
    </div>
  </div>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.2 -
        <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#potepan_camp">
          詳細を見る
        </button>
      </h4>
      <p class='lead'>ポテパンキャンプの課題で作成したアプリ</p>
    </div>
  </div>
</div>
<div class='row mb-2'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.3 -
        <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#noutore_site">
          詳細を見る
        </button>
      </h4>
      <p class='lead'>初自作アプリの脳トレサイト</p>
    </div>
  </div>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.4 -
        <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#search_form">
          詳細を見る
        </button>
      </h4>
      <p class='lead'>APIを使った検索フォーム</p>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm'>
    <div class='box'>
      <h4 class='title'>- No.5 -
        <button type="button" class="btn btn-lights" data-toggle="modal" data-target="#portfolio">
          詳細を見る
        </button>
      </h4>
      <p class='lead'>ポートフォリオサイト</p>
    </div>
  </div>
  <div class='col-sm'>
  </div>
</div>
