<h1>経歴</h1>
高校卒業後、約4年間ITとは無縁の会社に勤務。
その後、独学とポテパンキャンプ（プログラミングスクール）を経て、2019年1月にWebサービスやスマホアプリを製作している企業に転職。
しかし、試用期間中に転職サイトを見ているという理由で本採用されず、約1ヶ月で無職に。
そして現在、転職活動の真っ最中！
<h1>得意分野</h1>
RubyとRuby on Railsをメインに学習。
JQueryを使ったアニメーションや、非同期での処理なども多少は経験があるが、実務レベルには程遠い。
<h1>やりたいこと</h1>
自分の作ったものに対する反応が感じられるような、生活に身近なサービスを作りたい。
まだ経験が少ないので、優秀な人からたくさんの技術を吸収したい。
しっかり技術を身につけ、0から大きなサービスを作ってみたい。
<h1>勉強していること</h1>
Ruby, Ruby on Rails, JavaScript(JQuery), GCPやAWSなどのクラウドサービス
