<div class='container mx-auto'>
  <h1 class='text-center'>- 冒険の記録 -</h1>
</div>
<div class='container mx-auto' id='about'><%= render 'about' %></div>
<div class='container mx-auto' id='works'><%= render 'works' %></div>
<div class='container mx-auto' id='contact'><%= render 'contact' %></div>
<%= render 'modal/modal_list' %>
