<h1>Welcome to my Portfolio</h1>

<ul>
  <li><%= link_to 'RailsTutorial', '#' %></li>
  <li><%= link_to 'ポテパンキャンプ', '#' %></li>
  <li><%= link_to '暇つぶし脳トレサイト', '#' %></li>
  <li><%= link_to 'APIを使った検索フォーム', '#' %></li>
</ul>
