.container.mx-auto
  h1.text-center  - 冒険の記録 -
.container.mx-auto#about  == render 'about'
.container.mx-auto#works  == render 'works'
.container.mx-auto#contact  == render 'contact'
== render 'modal/modal_list'
