.modal.fade#rails_tutorial aria-hidden="true" aria-labelledby="exampleModalScrollableTitle" role="dialog" tabindex="-1"
  .modal-dialog.modal-dialog-scrollable role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalScrollableTitle  Rails Totorial
        == render 'modal/button'
      .modal-body
        == render 'modal/rails_tutorial'
        == render 'modal/footer'
.modal.fade#potepan_camp tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
  .modal-dialog.modal-dialog-scrollable role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalScrollableTitle  ポテパンキャンプ
        == render 'modal/button'
      .modal-body
        == render 'modal/potepan_camp'
        == render 'modal/footer'
.modal.fade#noutore_site tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
  .modal-dialog.modal-dialog-scrollable role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalScrollableTitle 脳トレサイト
        == render 'modal/button'
      .modal-body
        == render 'modal/noutore'
        == render 'modal/footer'
.modal.fade#search_form tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
  .modal-dialog.modal-dialog-scrollable role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalScrollableTitle 検索フォーム
        == render 'modal/button'
      .modal-body
        == render 'modal/search_form'
        == render 'modal/footer'
.modal.fade#portfolio tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true"
  .modal-dialog.modal-dialog-scrollable role="document"
    .modal-content
      .modal-header
        h5.modal-title#exampleModalScrollableTitle ポートフォリオ
        == render 'modal/button'
      .modal-body
        == render 'modal/portfolio'
        == render 'modal/footer'
