p.lead
  |
    現在、ご覧いただいているポートフォリオサイト。元々は、GithubPageを使って作成していたが、勉強の意味もかねて
    Google App Engineにデプロイした。そのため、GithubPageで使えなかったRailsを使ったサイトにした。
    もう分かっているとは思うが、ドラゴンクエストっぽいイメージのサイトにした。
    新しいフォントの入れ方、モーダル、keyframeなど、今までのサイトよりもアニメーションなどの見た目を重視して作った。
li  = link_to 'ソードコードはこちら', 'https://github.com/llbzv396/portfolio', target: '_blank'
