<p class='lead'>
  ポテパンキャンプの課題として、Solidusを用いて作られたECサイトに機能を追加していった。
  あらかじめ商品に関するデータが用意されているので、それらを取得してページに表示させたり、カテゴリごとに絞り込み機能をつけた。
  モデルのリレーションに関すること、RSpecの書き方、プルリクエストの活用方法など、たくさんの知識をつけることができた。
  ここでの3ヶ月の経験は、非常に貴重で勉強になった。課題の難易度も非常に高く、かなり苦労したが自分で調べて解決していく力が少しついたと思う。
</p>
<li><%= link_to 'ソードコードはこちら', 'https://bitbucket.org/llbzv396/potepangraduate/src/master/', target: '_blank' %></li>
<li><%= link_to 'レビューを受けながら開発した課題はこちら', 'https://bitbucket.org/llbzv396/potepangraduate/pull-requests/?state=MERGED', target: '_blank' %></li>
<li><%= link_to 'herokuで開く', 'https://potepancamp0209.herokuapp.com/potepan', target: '_blank' %></li>
