= link_to image_tag("/images/api_app.png", id: 'app_image'), 'https://rensa-tutorial-app.herokuapp.com/', target: '_blank'
p.lead
  |
    APIに関する基本的なこと、どういった流れで処理が行われているのか、APIの便利さなど、多くのことを学べた。
    全く使ったことがなかったので、リクエストをどう送ってそれがどういった形で返ってくるのかなど、分からないことだらけだったが
    ひたすらトライアンドエラーを繰り返すうちに、理解が進んだ。
    こちらも見た目はBootstrapで簡単に整えただけなので、あまり綺麗ではないが、APIの理解が深まった。
li  = link_to 'ソードコードはこちら', 'https://github.com/llbzv396/api_tutorial_app', target: '_blank'
li  = link_to 'herokuで開く', 'https://rensa-tutorial-app.herokuapp.com/', target: '_blank'
